@charset "UTF-8";

/* Configurações Gerais */
@media all {
    * {
        margin: 0px;
        padding: 0px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    html, body {
        background-color: #233eff;
        font-size: 18px;
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: contain;
    }

    h1 {
        background-color: white;
        box-shadow: 0px 0px 10px #00000033;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.718);
        color: #fed700;
        text-align: center;
        padding: 15px;
    }
}


/* Aparelho Em Pé (Retrato: portrait) */
@media screen and (orientation: portrait) {           
    body {
        background-image: url("../imagens/cev-portrait.jpg");
        background-position: center bottom;
    }
}


/* Aparelho Deitado (Paisagem: landscape) */
@media screen and (orientation: landscape) {
    body {
        background-image: url("../imagens/cev-landscape.jpg");
        background-position: left bottom;
    }
}