@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url('pacote-projeto-d010/fontes/idroid/iDroid.otf') format('opentype');
    }

body {
    background-color: #84e1ad;
    font: normal 500 18px Arial;
    margin: auto;
}

header {
    background-image: linear-gradient(to bottom, #2DA668, #12703d, #043920);
    color: white;
    margin: 0px;
    text-align: center;
    box-shadow: 1px 1px 10px #0000009e;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.618);
    padding-bottom: 7px;

}

header > h1 {
    font: normal 500 60px 'Bebas Neue';
    margin: auto;
    padding: 15px;
    padding-top: 25px;
}

header > p {
    padding-bottom: 15px;
    text-align: center;
} 

header > nav {
    text-align: left;
}

nav > a {
    color: #98d7b5;
    font-weight: 600;
    text-decoration: none;
    text-decoration: 20s;
    padding: 10px;
}

nav > a:hover {
    background-color: #1db664;
    color: #054929;
    border-radius: 10px;
}

section {
    background: white;
    max-width: 830px;
    min-height: 300px;
    padding: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.545);
}

main {
    padding: 10px;
}

h2, h3 {
    font-family: 'android';
    color: #1a5c38;
    margin: auto;
}

h2 {
    font-size: 33px;
}

h3 {
    background-image: linear-gradient(to right, #84e1ac94, white);
    text-indent: 10px;
    font-size: 24px;
}

footer {
    text-align: center;
    background-color: #1a5c38;
    color: white;
    padding: 5px;
}

p {
    text-indent: 25px;
    font-weight: normal;
    text-align: justify;
}

div.and {
    text-align: center;
    padding: auto;
    width: 300px;
    margin: auto;
}

div.vid {
    background-color: #1a5c38;
    text-align: center;
    max-width: 842px;
    min-height: 300px;
    margin: auto;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.545);
    padding-top: 40px;
    padding-bottom: 40px;
}

section#s2 {
    background: white;
    max-width: 830px;
    min-height: 300px;
    padding: 6px;
    margin-bottom: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.545);
}

main > div#d2 {
    background-color: #84e1ac91;
    border-radius: 15px;
    margin: 8px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.352);
}

h4 {
    color: white;
    background-color: #2c9e5f;
    margin-bottom: 15px;
    margin-top: 0px;
    padding: 14px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 1px 1px 10px #1a5c3856;
}

div#d2 > p {
    margin: 7px;
    padding: 4px;
}

a.links {
    background-image: linear-gradient(to right, #84e1ac94 85%, white);
    font-weight: 600;
    font-size: 18px;
    color: #1a5c38;
    text-decoration: none;
}

img {
    width: 100%;
}

iframe {
    width: 100%;
    max-width: 750px;
    min-width: 300px;
}